// USERS
.user-permission-container{
    .main_title{
        font-size: 20px;
        color: black;
    }
    .permission_name{
        font-size: 16px;
        color: black;
        font-weight: 500;
    }
}
